* {
    box-sizing: border-box;
  }
  body {
    color: #222;
  }
  a {
    text-decoration: none;
    color: #1381a2;
  }
  .section-title {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .logoo{
    height: 80px;
    width: 150px;
}
  .box {
    background: rgba(221, 221, 221, 0.5);
    box-shadow: 0px 5px rgba(221, 221, 221, 0.3);
    color: rgba(0, 0, 0, 0.7);
    padding: 15px 40px;
    border-radius: 4px;
    text-align: justify;
  }
  .header {
    display: flex;
    width: 100%;
    /* background-color: #222222; */
    color:#222222;
    justify-content: space-between;
    padding: 15px 40px;
    border-bottom: 1px solid #ddd;
  }
  .header .nav {
    display: flex;
  
  }
  .header .nav a {
    flex: 1;
    padding: 15px 40px;
    color:#222222;
   
  }
  .user{
    display: flex;
    justify-content: center;
  }
  /* .header .nav a:hover {
    color: #222;
  } */
  .hero {
    min-height: 100vh;
    max-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    /* background-color: #222222; */
  }
  .hero .hero__background {
    
    position: absolute;
    z-index: -1;
  }
  .hero .hero__background img {
    /* transition: 0.5s; */
    width: 100%;
    height: 100%;
  }
  /* .hero:hover img {
    transition: 0.5s;
    transform: scale(1.02);
  } */
  
  .hero .hero__content {
    color: #fff;
  }
  .hero .hero__content h2 {
    text-shadow: 1px 1px 3px #555;
  }
  .searchbar {
    margin-top: 20px;
    background: #fff;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 15px #555;
    height: 40px;
    width: 380px;
  }
  .searchbar input {
    border: none;
    outline: none;
    flex: 1;
    padding: 15px 40px;
  }
  .searchbar button {
    background: #1381a2;
    color: #fff;
    border: none;
    padding: 10px;
    outline: none;
  }
  .content {
    padding: 15px 40px;
  }
  .highlight {
    background: #ff9b99;
  }
  .card-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .section-title{
    font-size: 20px;
  }
  
  .card-grid .card {
    /* transition: 1s; */
    width: 30%;
    min-width: 200px;
    max-width: 250px;
    min-height: 200px;
    /* position: relative; */
    border-radius: 4px;
    overflow: hidden;
    color: rgb(12, 12, 12);
    box-shadow: 0px 0px 15px #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 5px #555;
    margin: 15px;
   
    
  }
  .card h3{
    font-size:15px;
  }
  .card-grid .card .thumbnail {
    /* position: absolute; */
    width: 100%;
    /* z-index: -1; */
  }
  .card-grid .card .thumbnail img {
    /* transition: 0.5s; */
    height: 40vh;
  }
  /* .card-grid .card:hover {
    transition: 1s;
    background: rgba(19, 129, 162, 0.5);
  } */
  /* .card-grid .card:hover img {
    transition: 0.5s;
    transform: scale(1.2);
  } */
  .footer {
    background: #222;
    color: #ddd;
    padding: 15px 40px;
  }
  .footer a {
    color: #ddd;
  }
  .footer a:hover {
    color: #fff;
  }
  .footer .footer-grid {
    display: flex;
    justify-content: space-between;
  }
  .footer .footer-grid .column {
    width: 30%;
    margin-bottom: 40px;
  }
  .footer .footer-grid .column:nth-child(1) {
    text-align: left;
  }
  .footer .footer-grid .column:nth-child(2) {
    text-align: center;
  }
  .footer .footer-grid .column:nth-child(3) {
    text-align: right;
  }
  