*, *:after, *:before {
    box-sizing: border-box;
  }
  /* Example images */
  #slide_1 {
    background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-35260255/original/088698fa-eacb-47b1-ac94-9b4fae3fc929.jpeg?im_w=960);
  }
  #slide_2 {
    background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-35260255/original/c16d6170-e995-4449-bb07-d8d677a935d8.jpeg?im_w=1200);
  }
  #slide_3 {
    background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-35260255/original/e15f858a-aa7e-4f5c-9224-a3d7ce077177.jpeg?im_w=1200);
  }
  #slide_4 {
    background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-35260255/original/b0fa6a86-3fc0-481d-a1f6-71aae2fa1d9d.jpeg?im_w=1200);
  }
  #slide_5{
    background-image: url(https://a0.muscache.com/im/pictures/303f6901-27ee-451b-918b-3c9db30e0aec.jpg?im_w=960);
  }
  #slide_6{
    background-image: url(https://a0.muscache.com/im/pictures/18a07d49-2c0c-46d7-a580-76a108aeb546.jpg?im_w=1200);
  }
  #slide_7{
    background-image: url(https://a0.muscache.com/im/pictures/049ee9a0-8d62-45bc-8939-5815b742352c.jpg?im_w=1200);
  }
  #slide_8{
    background-image: url(https://a0.muscache.com/im/pictures/95bc95d9-6566-44b8-9e83-6a436d446053.jpg?im_w=1200);
  }
  #slide_9{
    background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-42118102/original/27c5d690-d10f-4158-ad9e-657e58ea4b9b.jpeg?im_w=960);
  }
  #slide_10{
    background-image: url(https://a0.muscache.com/im/pictures/aa163d0e-13fc-4517-a761-5bc59905a461.jpg?im_w=1200);
  }
  #slide_11{
    background-image: url(https://a0.muscache.com/im/pictures/f76b51fd-0d23-45d7-9556-2008893983a1.jpg?im_w=1200);
  }
  #slide_12{
    background-image: url(https://a0.muscache.com/im/pictures/54b45186-f08e-4dcc-a4d5-9280e77deb5c.jpg?im_w=1200);
  }

  .li_slide {
    background-size: cover;
    background-position: center;
  }
  /* Animations */
  @keyframes tonext {
    75% {
        margin-left: 0;
    }
    95% {
        margin-left: calc(100% + 150px);
    }
    98% {
        margin-left: calc(100% + 150px);
    }
    99% {
        margin-left: 0;
    }
  }
  @keyframes snap {
    96% {
        scroll-snap-align: start;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: start;
    }
  }
  @keyframes tostart {
    75% {
        margin-left: 0;
    }
    95% {
        margin-left: calc(-300% - 450px);
    }
    98% {
        margin-left: calc(-300% - 450px);
    }
    99% {
        margin-left: 0;
    }
  }
  /* Reset */
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #pSlider {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    /* Left, Right Navigation Arrows */
  }
  #pSlider #slider-container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  #pSlider #slider-container .li_slide {
    position: relative;
    width: 100%;
    border-radius: 10px;
    background-color: khaki;
    flex: none;
    margin-right: 150px;
  }
  #pSlider #slider-container .li_slide:nth-child(even) {
    background-color: mediumaquamarine;
  }
  #pSlider #slider-container .li_slide:last-child {
    margin-right: 0;
  }
  #pSlider #slider-container .li_slide .slide-snapper {
    /* Auto play */
    scroll-snap-align: start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: tonext 4s infinite ease, snap 4s infinite ease;
  }
  @media (prefers-reduced-motion: reduce) {
    #pSlider #slider-container .li_slide .slide-snapper {
        animation-name: none;
    }
  }
  #pSlider #slider-container .li_slide:last-child .slide-snapper {
    animation-name: tostart, snap;
  }
  #pSlider #slider-container:hover .li_slide .slide-snapper, #pSlider #slider-container:focus-within .li_slide .slide-snapper {
    animation-name: none;
  }
  #pSlider:before, #pSlider:after, #pSlider .prev_slide, #pSlider .next_slide {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    z-index: 2;
    cursor: pointer;
  }
  #pSlider:before, #pSlider:after {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }
  #pSlider .next_slide {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
  }
  #pSlider .prev_slide {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
  }
  #pSlider:before, #pSlider .prev_slide {
    content: "";
    left: 0px;
  }
  #pSlider:after, #pSlider .next_slide {
    content: "";
    right: 0px;
  }
  #pSlider:after {
    z-index: 1;
    /* set underneath .next_slide (z: 2)*/
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='60' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cpolyline points='10 10 30 30 10 50' stroke='rgba(255,255,255,0.9)' stroke-width='4' stroke-linecap='butt' fill='none' stroke-linejoin='round'%3E&lt;%3C/polyline%3E%3C/svg%3E");
  }
  #pSlider:before {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='60' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cpolyline points='30 10 10 30 30 50' stroke='rgba(255,255,255,0.9)' stroke-width='4' stroke-linecap='butt' fill='none' stroke-linejoin='round'%3E&gt;%3C/polyline%3E%3C/svg%3E");
  }
  /* Scrollbar */
  #pSlider #slider-container::-webkit-scrollbar {
    display: none;
    height: 5px;
  }
  #pSlider #slider-container::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 50px;
  }
  #pSlider #slider-container::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Input */
  
  #sliderSettings {
  text-align: center;
  }
  
  #slider-width, #slider-height {
  text-align: center;
  margin-bottom: 20px; 
  }
  
  h2 {
  text-align: center;
  }

  h1{
    padding: 5px;
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
  }

  .para1{
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
  }

  .para2{
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
  }

  .logoo{
    height: 80px;
    width: 120px;
}

.header {
  display: flex;
  width: 100%;
  /* background-color: #222222; */
  color:#222222;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 1px solid #ddd;
}
.header .nav {
  display: flex;

}
.header .nav a {
  flex: 1;
  padding: 15px 40px;
  color:#222222;
 
}
.searchbar {
  margin-top: 20px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 0px 15px #555;
  height: 40px;
  width: 380px;
}
.searchbar input {
  border: none;
  outline: none;
  flex: 1;
  padding: 15px 40px;
}
.searchbar button {
  background: #1381a2;
  color: #fff;
  border: none;
  padding: 10px;
  outline: none;
}
.footer {
  background: #222;
  color: #ddd;
  padding: 15px 40px;
}
.footer a {
  color: #ddd;
}
.footer a:hover {
  color: #fff;
}
.footer .footer-grid {
  display: flex;
  justify-content: space-between;
}
.footer .footer-grid .column {
  width: 30%;
  margin-bottom: 40px;
}
.footer .footer-grid .column:nth-child(1) {
  text-align: left;
}
.footer .footer-grid .column:nth-child(2) {
  text-align: center;
}
.footer .footer-grid .column:nth-child(3) {
  text-align: right;
}
