.container {
	width: 60%;
	margin: 0 auto;
}


    .payment-select{
		margin-top: 10px;
        height: 80px;
		width: 90%;
		border: 1px solid #ddd;
		padding: 1em;
        text-align: left;
    }
    .payment-select-logo{
        height: 100px;
        width: 200px;
    }
		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.payment-select-image {
			width: 130px;
            }
        .contain{
            position: absolute;
            right: 250px;
        }
        .image{
            height: 80px;
            width: 100px;

        }
        .heading{
            text-align: center;
        }



.paywithcard{
    text-align: center;
    padding: 10px
}
.alignments{
    padding-bottom: 20px;
}
.align{
    padding-bottom: 20px;
}

.button{
    text-align: center;
}
.btn1{
    height: 30px;
    width: 90px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: blue;
}
.btn2{
    height: 30px;
    width: 90px;
    background-color:blue;
    color: white;
    border-radius: 5px;
    border-color: aqua;
    border-style: solid;
}