
.para2{
    font-size: 13px;
    font-family: serif;
}
.image3{
    height: 150px;
    width: 150px;
}
.para3{
    position: absolute;
    right:0px;
}
.discount{
    color: green;
}
.total{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
}
.total1{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
}
.para4{
    margin-top: 2px;
}
.span1{
    font-size: 13px;
    margin-top: 5px;
}
.logoo{
    height: 80px;
    width: 120px;
}