body {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #79bfee;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .spacing {
    width: 10%;
  }
  
  form {
    width:50vw;
    min-width: 500px;
    height:100vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 8px;
    height: 40px;
    font-size: 1.2em;
    outline: none;
    margin: 4px 10px 10px 10px;
    padding: 2px 12px;
    width: 90%;
  }
  
  .double-field {
    width: 95%;
    display: flex;
  }
  
  .double-field > div > p {
    padding-left: 0;
  }
  
  .input-div {
    width: 97%;
    display: flex;
    margin: 10px;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .input-div > p {
    width: 96%;
    margin: 0;
    padding-left: 2%;
  }
  
  .toggle-button {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color:rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-text {
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    transition-duration: 0.4s;
    margin: 0;
    user-select: none;
    transform: translateY(-20px);
  }
  
  .title {
    width: 100%;
    overflow: hidden;
    height: 50px;
    margin-bottom: 24px
  }
  
  #title-text{
    font-size: 3rem;
    line-height: 80px;
    text-align: center;
    transition-duration: 0.4s;
    margin: 0;
    user-select: none;
    transform: translateY(-94px);
  }
  
  #button {
    cursor: pointer;
    color: #7fbae0;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px 80px;
    transition-duration: 0.2s;
    width: 251px;
  }
  
  #button:hover {
    transform: scale(1.05);
  }
  
  #signUp-only {
    transition-duration: 0.3s;
  }
  
  .show-field {
    height: 90px;
    opacity: 1;
  }
  
  .hide-field {
    height: 0px;
    opacity: 0;
  }

  .error{
    color: red;
    text-align: center;
  }